:8080 {
  root * /srv

  handle /config.js {
    templates {
      mime application/javascript
    }
    header Content-Type "application/javascript; charset=utf-8"
    file_server
  }

  file_server
  try_files {path} /index.html
}
